{% extends 'core/base.html' %}

{% load static  %}

{% block contenido %}

<br>


          <!--CARDS INICIO -->
<div class="container">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card h-100">
                <img src="{% static 'core/'%}img/colun_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Leche Semi descremada</h5>
                  <p class="card-text">600 pesos buena</p>
                  <a href="" class="btn btn-primary float-right">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="{% static 'core/'%}img/colun_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Leche Chocolate</h5>
                  <p class="card-text">700 pesotes riquisima</p>
                  <a href="" class="btn btn-primary float-right">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="{% static 'core/'%}img/colun_3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Leche Frutilla</h5>
                  <p class="card-text">799 Pesotes rica de frutillar</p>
                  <a href="" class="btn btn-primary float-right">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="{% static 'core/'%}img/leche_chica_chocolate.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Leche Chocolate movil</h5>
                  <p class="card-text">500 pesotes</p>
                  <a href="" class="btn btn-primary float-right">Comprar</a>
                </div>
              </div>
            </div>
            
            <div class="col mb-4">
                <div class="card h-100">
                  <img src="{% static 'core/'%}img/leche_chica_frutilla.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <br>
                      <br>
                    <h5 class="card-title">Leche Frutilla Movil</h5>
                    <p class="card-text">500 pesotes</p>
                    <a href="" class="btn btn-primary float-right">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="{% static 'core/'%}img/leche_chica_manjar.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <br><br><br><br><br><br><br>
                    <h5 class="card-title">Leche Manjar movil</h5>
                    <p class="card-text">500 pesotes</p>
                    <a href="" class="btn btn-primary float-right">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="{% static 'core/'%}img/leche_chica_normal.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Leche Normal movil</h5>
                    <p class="card-text">500 pesotes</p>
                    <a href="" class="btn btn-primary float-right">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="{% static 'core/'%}img/leche_chica_vanilla.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Leche Vainilla movil</h5>
                    <p class="card-text">500 pesotes</p>
                    <a href="" class="btn btn-primary float-right">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="{% static 'core/'%}img/leche_entera_polvo.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Leche Entera </h5>
                    <p class="card-text">900 pesotes</p>
                    <a href="" class="btn btn-primary float-right">Comprar</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
          <!--CARDS FIN-->

{% endblock %}