{% extends 'core/base.html' %}

{% block contenido %}

    <!-- PARRAFO INICIO-->
         <div class="container"> 
            <span class="d-block p-2 bg-light text-dark">
             <h1>VISION</h1>   
             <p>Nuestra aspiración es que toda persona que piense en alimentos, piense en Soprole, 
                y disfrute de la calidad y sabor de nuestros productos cada día.
               El desarrollo de Soprole se debe sustentar en una gestión equilibrada, que busque la creación de valor para los accionistas, 
               el reconocimiento a las personas que trabajan en la organización, 
               la satisfacción de nuestros consumidores y clientes y el respeto por nuestros proveedores y el medio ambiente.</p>
                </span>

                <span class="d-block p-2 bg-secondary text-light">
                    <h1>MISION</h1>   
                    <p> SER LOS MEJORES</p>
                    </span>

                    <span class="d-block p-2 bg-light text-dark">      
                <h1>Donde ubicarnos</h1>
                <br>
        </span>
            


            <!--GOOGLE MAPS-->

            
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6389.989437661053!2d-73.0671395301198!3d-36.794677016697236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fc32996839e6986!2sDuoc%20UC%3A%20Sede%20San%20Andr%C3%A9s%20De%20Concepci%C3%B3n!5e0!3m2!1ses-419!2scl!4v1610763518342!5m2!1ses-419!2scl" 
        width="1110" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"class="rounded mx-auto d-block"  ></iframe>
        <!--GOOGLE MAPS-->
        </div>

{% endblock  %}